<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1039985067639-5fbeuiotcnejc00cmq64684naee224jd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1039985067639-5fbeuiotcnejc00cmq64684naee224jd</string>
	<key>API_KEY</key>
	<string>AIzaSyDJhKvrOkaE7cnLAE28oP3yqDrcNjXcFC8</string>
	<key>GCM_SENDER_ID</key>
	<string>1039985067639</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kutelov.TikTokUIKit</string>
	<key>PROJECT_ID</key>
	<string>tiktokuikit</string>
	<key>STORAGE_BUCKET</key>
	<string>tiktokuikit.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1039985067639:ios:40fef1e73fa2b188c3e872</string>
</dict>
</plist>